<div class="text-layout">
    <h1>DecimalPipes y Procentajes</h1>
    <p>
        Pipes incluidos en Angular - usualmente en CommonModule
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card 
            header="Ventras Netas"
            subheader="del presente año">
            <i class="pi pi-dollar"></i>
            {{ ventasNetas | number:'1.2-2' }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card 
            header="Ventras Brutas"
            subheader="del presente año">
            {{ ventasNetas | currency:'CLP':'symbol-narrow':'1.4-4' }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card 
            header="Ganancia Porcentual"
            subheader="del presente año">
            {{ porcentaje | percent:'.2-2' }}
        </p-card>
    </div>
</div>